<%= stylesheet_link_tag "showtweetscss" %>
<div class="post">
   <div class="entry">
      <img src=<%=currenttweet[:imgurl]%> alt="" class="user_image" align="LEFT" />
      <p class="tweetu">@<%=currenttweet[:user]%></p>
      <p class="tweet"><%=currenttweet[:text]%></p>
   </div>
</div>