<%= stylesheet_link_tag "showtweetscss" %>
<div class="content">
	<div class="left_side">
		<p>left</p>
	</div>
	<div class="right_side">		
		<p>right</p>	
		<%= render :partial => "currenttweet", :collection => @currenttweets %>
	</div>
</div>
